<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="EUC-KR">
    <title>Insert title here</title>
    <style>
        .form-group{
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div id="app" v-model="fnJoin">
        <h1>회원가입</h1>
        <div class="form-group">
            <label>아이디
                <input v-if="!isCheck" type="text" v-model="userId">
                <input v-else type="text" v-model="userId" disabled>
            </label>
        </div>
        <div class="form-group">
            <label>비밀번호
                <input type="password" v-model="Pwd">
            </label>
            <button @click="fnPwdCheck">비밀번호 확인</button>
        </div>
        <div class="form-group">
            <label>이름
                <input type="text" v-model="userName">
                <div class="form-group">
                    <label>메일
                        <input type="text" v-model="Mail">
                    </label>
                </div>
                <div class="form-group">
                    <label>전화번호
                        <input type="text" v-model="phone">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <label>남자
                            <input type="radio" v-model="gender">
                        </label>
                        <label>여자
                            <input type="radio" v-model="gender">
                        </label>
                    </label>

                </div>
                <button @click="fnSave">회원가입</button>


</body>

</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                user: {
                    userId: "",
                    wd: "",
                    userName: "",
                    mail: "",
                    phone: "",
                    gender: "",
                    isCheck: false
                }

            };
        },
        methods: {
            fnJoin() {
                var self = this;
                if (this.userId) {
                    alert("아이디를 다시 확인해주세요")
                } else if (self.userid.length <= 5) {
                    alert("5글자 이상 입력하시오");
                } else if (self.userPwd.length <= 6) {
                    alert("6글자 이상 입력하시오");
                } else {
                  
                }

                var url = `http://localhost:3000/insert?`
                $.ajax({
                    url: url,
                    dataType: "json",
                    type: "GET",
                    data: {},
                    success: function (data) {
                        console.log(data);
                        console.log(data[0], CNT);
                        if (data[0].CNT > 0) {
                            alert("이미 사용중인 아이디");
                        } else {
                            alert("사용가능한 아이디");
                            self.isCheck = true;
                        }

                    }
                });
            }
        },
        mounted() {

        }
    });
    app.mount('#app');
</script>